@import '../node_modules/bootstrap/scss/bootstrap.scss'
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css'


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2)
    
header
    overflow: hidden
.banner1
    background-image: url('../images/banner1.jpg')

.opac
    
    padding-bottom: 25%
    background: url('../images/bottom_decoration_img.png') bottom repeat-x,linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6))

.occasion
    padding-top: 20%
    font-family: 'Courgette', cursive

#btn
    padding-top: 10%
.bouton
    border-radius: 25rem
    background-color: whitesmoke
    &:hover 
        background-color: #b02939
    border: 0
    font-size: 15px
    padding: 15px 20px

.bouton1
    border-radius: 25rem
    background-color: #b02939
    &:hover 
        background-color: withesmoke
    border: 0
    font-size: 15px
    padding: 15px 20px

.text
    color: whitesmoke
    text-decoration: none

.logo
    padding-left: 15px

.navbar
    padding-top: 70px

.rose
    color: #b02939
.fond2
    background-image: url('../images/main_bg.jpg')

.book
    font-family: 'Courgette', cursive
    border-bottom: 10px solid transparent
    border-image: url('../images/decoration_line.png') 10 stretch

.fondb
    background-color: white
    padding-bottom: 119px

.our
    font-family: 'Courgette', cursive

.box-left
    float: left

.box-right
    float: right

.textebook
    font-size: 15px

.cafe
    border-radius: 25rem
    width: 80%
    border: solid
    border-color: gray
    float: left
    margin-bottom: 10px
    margin-top: 10px

.coffee
    font-family: 'Courgette', cursive
    font-size: 30px

.tasse
    color: #b02939
.bordure
    border-right: solid 4px
    border-bottom: solid 1px
    border-right-color: #b02939
    border-bottom-color: gray
    
.bordur
    border-right: solid 1px
    border-bottom: solid 1px
    border-color: gray
.dollar
    display: flex
    background-color: whitesmoke
    color: #b02939

.borduretxt
    border-bottom: dotted 1px
    border-color: gray
.size
    font-size: 0.89rem

.col-5
    padding-right: 40px
    padding-top: 15px

.pad
    padding-top: 65px

.borduure
    border-right: solid 1px
    border-color: gray

.team
    background: url('../images/team_background.jpg') ,rgba(255, 255, 255, 0.15)

.deco
    padding-top: 70px

.meet
    font-family: 'Courgette', cursive
    padding-top: 45px
    font-size: 50px

.chef
    padding-top: 100px

.HR
   border-bottom: solid 1px
   border-bottom-color: gray
   
.card
    background-image: url('../images/book_table_bg.jpg')
    border-radius: 1.25rem
    padding-right: 50%

.btnn
    border-radius: 25rem
    background-color: #b02939
    width: 50%
    align-items: center
    margin-left: 25%
   

.numero
    font-size: 25px

.form-control
    border-radius: 0.7rem

.cards-img
    border-radius: 0.25rem

.bordeer
    background-color: #b02939
    border-radius: 0.7rem
    font-size: 24px
    padding: 25px 14px
    text-decoration: none !important
    color: white
    &:hover
         color: red

.ipsum
    margin-top: 40px
    float: left
    padding-left: 55px

.ipsum2
    margin-top: 40px
    float: left
    padding-left: 45px

.ipsum3
    margin-top: 40px
    float: left
    padding-left: 49px

.know
    border-radius: 25rem
    padding: 0.5rem 1rem
    font-size: 1.25rem
    line-height: 1.5
    background-color: #b02939
    color: white
    margin-left: 65px

.testimonial
    background-image: url('../images/testimonials_background.jpg')
.client
    font-family: 'Courgette', cursive
    font-size: 50px

.femme
    border-radius: 25rem
    width: 80%
    border: solid
    border-color: gray
    float: left
    margin-top: 5px

.femme2
    border-radius: 25rem
    width: 80%
    border: solid
    border-color: gray
    float: right 
    margin-top: 5px

.cartef
   border: solid 1px
   border-radius: 1rem
   border-color: white
   padding: 10px 10px
   padding-top: 20px
   margin-top: 5px

.clochetes
    padding-top: 50px
    padding-bottom: 30px

.decora
    padding-bottom: 50px

.cli
    padding-bottom: 80px

.fond4
    background-image: url('../images/main_bg.jpg')
.contact
    font-family: 'Courgette', cursive
    font-size: 50px

.call
    border: solid 1px
    border-radius: 1rem
    border-color: white
    padding-top: 20px
    background-color: #b02939

.fors
    font-size: 19px

.footer
    background-image: url('../images/footer_background.jpg')

.insta
    padding-top: 45px
    margin-right: 155px

.aboutus
    padding-top: 1rem
    padding-left: 5rem

.fclique
    background-color: #b02939
    color: white
    border-radius: 25rem
    padding: 0.25rem 0.9rem
    border: solid 1px
    border-color: white

.sociaux
    padding-top: 45px
    margin-left: 30px

.popular
   overflow: hidden

.ligne
    border-bottom: solid 1px
    border-bottom-color: white
    width: 90%

.fass
    background-color: #b02939
    padding: 40px 0


.navbarr
    display: flex
    flex-direction: column
    padding-left: 0
    margin-bottom: 0
    list-style: none
    padding-top: 20px
    text-align: -webkit-center

.case
    background-color: #b02939

.img
    padding-right: 30px
    border-radius: 1rem
    margin-top: 30px

@media (max-width: 768px)
    .cafe
        width:120px !important
        margin-left: 190px

@media (max-width: 768px)
    .femme
        width:120px !important
        margin-left: 190px

@media (max-width: 768px)
    .femme2
        width:120px !important
        margin-left: 190px

.cui
        margin-top: 5px