@import '../node_modules/bootstrap/scss/bootstrap.scss'

.banner1
    background-image: url('../images/banner1.jpg')

.opac
    
    padding-bottom: 25%
    background: url('../images/bottom_decoration_img.png') bottom repeat-x,linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6))


.occasion
    padding-top: 5%
    font-family: 'Courgette', cursive

#btn
    padding-top: 10%
.bouton
    border-radius: 25rem
    background-color: whitesmoke
    &:hover 
        background-color: #b02939
    border: 0

.bouton1
    border-radius: 25rem
    background-color: #b02939
    &:hover 
        background-color: withesmoke
    border: 0

.text
    color: whitesmoke
    text-decoration: none

.logo
    padding-left: 15px

.navbar
    padding-top: 70px

.rose
    color: #b02939
